@import '../../styles/mixins/typography';

.inputBox {
  display: flex;
  flex-direction: column;
  flex: 1;

  label {
    @include text2;
  }

  input {
    height: 3.2rem;
    width: 100%;

    padding: 0 1rem;
    
    border-radius: 0.3rem;
    border: 1px solid var(--gray-200);
  
  }

  .input_error {
    border: 1px solid var(--red);
  }

}