@import '../../../styles/mixins/typography';

.container {
  display: flex;
  flex-direction: column;

  margin-top: 0.6rem;

  div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    strong {
      @include text2;
    }

    span {
      @include text2;
      font-weight: 600
    }
  }

  small {
    @include text4;
    color: var(--gray-900);
  }
}