@import '../../../styles/mixins/typography';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-bottom: 0.3rem;
  margin-top: 0.3rem;

  border-bottom: 1px solid var(--gray-200);

  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    strong {
      @include text2;
    }

    span {
      @include text2;
      font-weight: 600
    }
  }

  small {
    @include text4;
    color: var(--gray-900);
  }
}