.container {
  display: flex;
  flex-direction: column;

  margin-top: 0.6rem;

  div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;

    strong:first-child {
      font-size: 0.85rem;
    }
  }
  small {
    font-size: 0.67rem;
    color: var(--gray-900);
  }
}