.container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  label {
    font-size: 0.8rem;
  }

  strong {
    font-size: 1.87rem;
    
    color: var(--red);
  }
  
}