@import '../../styles/mixins';

.main__container {

  display: flex;
  justify-content: center;

  &__wrapper {

    @include wrapper
  }

  button {
    margin-top: 1rem;

    justify-content: space-between;
  }

}
