@import '../../styles/_mixins';

.main__container {

  display: flex;
  justify-content: center;

  &__wrapper {

    @include wrapper;

    &__info_box {

      display: flex;
      flex-direction: column;

      @include md {
        flex-direction: row;
        // height: 25rem;
      }
    }
  }

  button {
    margin-top: 1rem;

    justify-content: space-between;
  }

}
