.selectBox {
  display: flex;
  flex-direction: column;
  flex: 1;

  label {
    font-size: 0.95rem;
  }

  select {
    height: 3.2rem;
    width: 100%;

    padding: 0 1rem;
    
    border-radius: 0.3rem;
    border: 1px solid var(--gray-200);
  }
}