@import '../../styles/mixins/typography';

.container {
  width: 100%;
  margin-top: 1.3rem;
  margin-bottom: 5rem;

  .header {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h3 {
      @include heading4;
    }

    a {
      @include text4;
    }

  }

  ol {
    list-style: none;

    padding: 0 0.5rem;
  }
}