@import '../../styles/mixins/responsive';
@import '../../styles/mixins/typography';

.container {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  background-color: var(--white);
  color: var(--black-700);
  @include text2;

  border: 0;
  border-radius: 0.3rem;
  // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

  @include box-shadow;

  &:not(:first-child) {
    margin-left: 1rem;
  }

  @include md {
    justify-content: space-between;
  }

  &:disabled {
    z-index: -1;
  }

}