@import '../../styles/mixins/typography';

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 1;

  .menu {
    width: 80vw;
    height: 100vh;
    
    padding: 1rem;

    background-color: var(--white);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

    header {
      flex: 1;
      
      display: flex;
      justify-content: flex-end;

      button {
        border: 0;
        background-color: transparent;
      }
    }

    .userInfo {

      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 2.67rem;
      
      img {
        width: 100px;
        height: 100px;
        border-radius: 70px;

        margin-bottom: 1rem;

        object-fit: cover;
        cursor: pointer;
      }

      span {
        @include text1;
      }

    }

  }

  .outsideMenu {
    width: 20vw;
    background-color: rgba(0,0,0, 0.1);
  }

}

@media (min-width: 780px) {
  .container {
    .menu {
      width: 40vw;
    }

    .outsideMenu {
      width: 60vw;
    }
  }
}