@import "../../styles/mixins/responsive";

.container {
  display: flex;

  &__wrapper {
    @include wrapper;
    flex-direction: column;
    display: flex;

    &__info_box {
      display: flex;
      flex-direction: row;

      gap: 1rem;

      &__box {
        display: flex;
        flex: 1;
        background-color: var(--blue);
        min-height: 20rem;

        &:nth-child(2) {
          background-color: var(--red);
        }
      }

    }

  }
}