@mixin heading1 {
  font-size: 1.87rem;
  font-weight: 600;
}

@mixin heading2 {
  font-size: 1.6rem;
  font-weight: 600;
}

@mixin heading3 {
  font-size: 1.35rem;
  font-weight: 600;
}

@mixin heading4 {
  font-size: 1.2rem;
  font-weight: 600;
}

@mixin text1 {
  font-size: 1rem;
  font-weight: 500;
}

@mixin text2 {
  font-size: 0.93rem;
  font-weight: 500;
}

@mixin text3 {
  font-size: 0.8rem;
  font-weight: 500;
}

@mixin text4 {
  font-size: 0.67rem;
  font-weight: 400;
}