@import '../../styles/mixins/typography';

.period_button_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  small {
    @include text3; 
  }

  padding: 0.2rem 0.5rem;

  background-color: var(--gray-100);
  border: 0;
  border-radius: 1rem;
}