@import '../../styles/mixins/typography';
@import '../../styles/mixins/details';


.period_button_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  small {
    @include text3; 
  }

  padding: 0.3rem 0.7rem;

  background-color: var(--white);
  border: 0;
  border-radius: 1rem;
  @include box-shadow;
}