@import '../../../styles/mixins/typography';

.container {
 
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-bottom: 1.6rem;

  label {
    @include text2;
    margin-left: 0.67rem;
  }

}